/*--- Font Families ---*/

@font-face {font-family: "HoltwoodOneSC-Regular"; src: url("fonts/HoltwoodOneSC-Regular.ttf"); }
@font-face {font-family: "Poppins-Light"; src: url("fonts/Poppins-Light.ttf"); }

/*--- Base Styles ---*/

body {
    width: 100%;
    font-family: Poppins-Light;
    margin: 0 0;
}

/*--- NAV MENU MOBILE VERSION ---*/

#logo_main {
    padding-top: 24px;
    display: block;
    width: 175px;
    height: 100px;
    margin: 0 auto;
}

#website_menu_items {
    display: none;
}

#header_all {
    background-color: rgba(194, 173, 51, 0.85);
    text-align: center;
    font-family: HoltwoodOneSC-Regular;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding-top: 1vh;
    line-height: 2.25em;
    outline: thick double #8d8451;
    border-top: thick double #8d8451;
    border-bottom: 2px solid #bcb06c;
    box-shadow: inset 0 2px #bcb06c;
    z-index: 1;
}

.myLogo {
    font-size: 2.50em;
    text-decoration: none;
    color: black;
}

#mobile_menu_icon {
    cursor: pointer;
    padding-bottom: 1vh;
}

.icon_bars_1,
.icon_bars_2,
.icon_bars_3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
    transition: 0.3s;
}

.change .icon_bars_1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
    transform: rotate(-45deg) translate(-9px, 7px) ;
}

.change .icon_bars_2 {
    opacity: 0;
}

.change .icon_bars_3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px) ;
    transform: rotate(45deg) translate(-8px, -7px) ;
}

#header_all a {
    display: block;
    margin: 2vh 0;
    text-decoration: none;
}

#myLinks {
    display: none;
    font-family: Poppins-Light;
    font-weight: bolder;
    color: #d54062;
}

#myLinks a:hover {
    color: #7f263a;
}

aside {
    background-image: url("img/down_arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

#shop_submenu,
#social_media_submenu {
    display: none;
    font-size: 0.90em;
}

#social_media_submenu a,
#myLinks a {
    color: #d54062;
}

/*--- MAIN PAGE MOBILE VERSION ---*/

#main_container {
    margin-top: 300px;
}

#slideshow_buttons {
    display: flex;
    justify-content: center;
}

.slides {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    display: none;
}

#slideshow_buttons button {
    width: 175px;
    color: white;
    background-color: #00A1CB;
    border: 3px double white;
    border-radius: 5px;
    transition: all 0.5s;
}

#slideshow_buttons button:hover {
    color: black;
    background-color: #a1cb00;
}

#slideshow {
    margin-bottom: 72px;
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.25px;
}

#men-women-links {
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.25px;
}

#genderLogos {
    width: 150px;
    height: 150px;
}

#genderLogos:first-of-type {
    margin-right: 12px;
}

#genderLogos:last-of-type {
    margin-left: 12px;
}

.main_description {
    font-size: 0.95em;
    margin-left: 4.5vw;
    margin-right: 3.5vw;
    text-align: justify;
}

.view {
    width: 300px;
    height: 500px;
    margin: 6.5vh auto 6.5vh;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view .mask, .view .content {
    width: 300px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.25em;
    padding: 10px;
    background: #7f263a;
    margin: 20px 0 0 0;
    font-family: HoltwoodOneSC-Regular;
    letter-spacing: 3px;
}

.view p {
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    color: black;
    padding: 10px 20px 20px;
    text-align: center;
    word-spacing: normal;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #7f263a;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    margin-top: 24vh;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255,163,108, 0.75); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

#louskyline {
    display: none;
}

/*--- FOOTER MOBILE VERSION ---*/

footer {
    margin-top: 4vh;
    background-color: #efe39f;
    position: absolute;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-family: Poppins-Light;
    font-size: 1.15em;
}

/*--- ABOUT US MOBILE VERSION ---*/

#about_us_container {
    margin-top: 45vh;
}

.about_us_description {
    font-size: 0.95em;
    margin-top: 24px;
    margin-left: 4.5vw;
    margin-right: 3.5vw;
    text-align: justify;
}

/*--- SHOP PAGE MOBILE VERSION ---*/

#shop_container {
    margin-top: 44vh;
}

#shop_label_men {
    padding: 24px 0;
    text-align: center;
    background-color: #d54062;
    color: white;
    font-family: Poppins-Light;
}

#shop_label_women {
    padding: 24px 0;
    margin: 24px 0 48px;
    text-align: center;
    background-color: #d54062;
    color: white;
    font-family: Poppins-Light;
}

#item_1,
#item_2,
#item_3,
#item_4,
#item_5,
#item_6,
#item_7,
#item_8,
#item_9,
#item_10,
#item_11 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    text-align: center;
    max-height: 750px;
    background-color: #f1e6ab;
    margin: 30px auto;
}

#item_1 h1,
#item_2 h1,
#item_3 h1,
#item_4 h1,
#item_5 h1,
#item_6 h1,
#item_7 h1,
#item_8 h1,
#item_9 h1,
#item_10 h1,
#item_11 h1 {
    font-size: 24px;
    font-family: HoltwoodOneSC-Regular;
}

#item_1 p,
#item_2 p,
#item_3 p,
#item_4 p,
#item_5 p,
#item_6 p,
#item_7 p,
#item_8 p,
#item_9 p,
#item_10 p,
#item_11 p {
    font-size: 18px;
    font-family: Poppins-Light;
}

#item_1 button,
#item_2 button,
#item_3 button,
#item_4 button,
#item_5 button,
#item_6 button,
#item_7 button,
#item_8 button,
#item_9 button,
#item_10 button,
#item_11 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #d54062;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 18px;
    border-radius: 25px;
}

#item_1 button:hover,
#item_2 button:hover,
#item_3 button:hover,
#item_4 button:hover,
#item_5 button:hover,
#item_6 button:hover,
#item_7 button:hover,
#item_8 button:hover,
#item_9 button:hover,
#item_10 button:hover,
#item_11 button:hover {
    opacity: 0.7;
}

#item_1 img:hover,
#item_2 img:hover,
#item_3 img:hover,
#item_4 img:hover,
#item_5 img:hover,
#item_6 img:hover,
#item_7 img:hover,
#item_8 img:hover,
#item_9 img:hover,
#item_10 img:hover,
#item_11 img:hover {
    transform: scale(1.1);
}

#shop_item_4_switch,
#shop_item_5_switch,
#shop_item_11_switch {
    background-color: #e58ca0;
    color: black;
    padding: 0 12px;
    border-radius: 25px;
}

#osman_graphics {
    width: 400px;
    height: 360px;
    margin: 0 auto;
    display: block;
}

#louskyline {
    width: 350px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36px;
}




@media (min-width: 600px) {

#logo_main {
    display: inline-block;
    height: 150px;
    width: 275px;
}

#website_menu_items {
    display: inline-flex;
    align-self: center;
    padding: 0 40px;
}

#website_menu_items a {
    color: black;
}

#header_all {
    background-color: rgba(194, 173, 51, 0.85);
    text-align: center;
    font-family: HoltwoodOneSC-Regular;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding-top: 3vh;
    line-height: 2.25em;
    outline: thick double #8d8451;
    border-top: thick double #8d8451;
    border-bottom: 2px solid #bcb06c;
    box-shadow: inset 0 2px #bcb06c;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.myLogo {
    font-size: 2.50em;
    text-decoration: none;
    color: black;
}

.menu_title {
    font-size: 1.25em;
    letter-spacing: 0.55em;
    display: none;
}

#mobile_menu_icon {
    display: none;
}

.icon_bars_1,
.icon_bars_2,
.icon_bars_3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
    transition: 0.3s;
}

.change .icon_bars_1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
    transform: rotate(-45deg) translate(-9px, 7px) ;
}

.change .icon_bars_2 {
    opacity: 0;
}

.change .icon_bars_3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px) ;
    transform: rotate(45deg) translate(-8px, -7px) ;
}

#header_all a {
    display: block;
    margin: 1vh 0;
    text-decoration: none;
}

#myLinks {
    display: none;
    font-family: Poppins-Light;
    font-weight: bolder;
    color: #d54062;
}

#myLinks a:hover {
    color: #7f263a;
}

aside {
    background-image: url("img/down_arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

#shop_submenu,
#social_media_submenu {
    display: none;
    font-size: 0.90em;
}

#social_media_submenu a,
#myLinks a {
    color: #d54062;
}

#louskyline {
    width: 600px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36px;
}

#genderLogos {
    width: 250px;
    height: 250px;
}

#men-women-links {
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.25px;
}

#slideshow {
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.25px;
}

.slides {
    height: 500px;
    width: 600px;
    margin: 0 auto;
    display: none;
}

#slideshow_buttons button {
    width: 302px;
    color: white;
    background-color: #00A1CB;
    border: 3px double white;
    border-radius: 5px;
    transition: all 0.5s;
}

}

@media (min-width: 1100px) {

#main_container {
    margin-bottom: 75px;
}

#main_container_img {
    display: flex;
    justify-content: space-around;
}

#louskyline {
    width: 1000px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36px;
}

#workout_image {
    object-position: 100% 50%;
}

#osman_graphics {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    display: block;
}

#genderLogos {
    width: 250px;
    height: 250px;
}

#men-women-links {
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 1.25px;
    margin-bottom: 72px;
}

#slideshow {
    text-align: center;
    font-family: Poppins-Light;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 1.25px;
}

}